<table class="table table-hover">
    <thead class="theader-dark">
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempEmployee of employees">
            <td class="align-middle"><img width="120" src="{{ tempEmployee.imageURL }}"/></td>
            <td class="align-middle">{{tempEmployee.firstName}}</td>
            <td class="align-middle">{{tempEmployee.lastName}}</td>
            <td class="align-middle">{{tempEmployee.phoneNumber}}</td>
            <td class="align-middle">{{tempEmployee.email}}</td>
        </tr>
    </tbody>
</table>
